<head>
  <link rel="stylesheet" href="/css/items.css">
</head>

<html>

{{!-- <script src="js/bootstrap/bootstrap.bundle.min.js"></script> --}}

		 <!-- Form to add a Sale -->
<div class="jumbotron">
	<form action="/items" method="POST" class=field id="editForm" onsubmit="false">
		<fieldset>
            <legend><h1>Enter A New Item</h1></legend>
              
            <div class="row">
                 <div class="col">
					<label for="inputState" >Enter Item Name</label>
                      <input type="text" class="form-control" placeholder="Enter Item Name" name = "input_name">
                 </div>
				 

				<div class="form-group col-md-4">
                  <label for="item-quantity">Number of Item</label>
                  <input type="text" class="form-control" id="input_quantity" name = "input_quantity">
                </div>

                <div class="form-group col-md-4">
                  <label for="itemCost">Retail Price</label>
                  <input type="text" class="form-control" id="input_retail" name = "input_retail">
                </div>
                

                <div class="form-group col-md-4" id="button-div">
                  <button type="submit" class="btn btn-success" id="submit-button">Add Item</button>
                </div>
              
            </div>
		</fieldset>
	</form>
</div>

<!-- Items Table -->
<div class="jumbotron">

    <div class="container">
        <div><h1>Item List</h1></div>  
    </div>

    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Retail Price</th>
            <th scope="col">Modify</th>
          </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{name}}</td>
                <td>{{quantity_in_stock}}</td>
                <td>{{retail_price}}</td>
                <td>
                    <button type="button" class="btn btn-warning" onclick="editRepair({{item_ID}})">Edit</button>
                    <button onclick="deleteItem({{item_ID}})" type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>
</html>


