<header>
	<h1>In nearbytrails</h1>
</header>
<table class="table table-striped table-bordered">
<thead>
      <tr>
        <th scope="col">Trail Name</th>
        <th scope="col">Length</th>
        <th scope="col">Location</th>
        <th scope="col">Maps Link</th>
      </tr>
</thead>

{{#each trails}}
	<tr>
		<td>{{trail_name}}</td>
		<td>{{trail_length}}</td>
		<td>{{latitude}}, {{longitude}}</td>
		<td>
			<button type="button" class="btn" onclick="openMapTab({{latitude}}, {{longitude}})">Maps Link</button>
		</td>
	</tr>
{{/each}}
</table>