<div class="container">

<!-- Row Containing Table Header And Button -->
  <div class="row header-row">
    <div class="col-md" align="left">
      <h2>Nearby Trails</h2>
      {{!-- <div class="heading"><caption>Nearby Trails</caption></div> --}}
    </div>
    <div class="col-md"></div>
  	<div class="col-md" align="right">
  		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Just For You</button>
  	</div>
  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Customize Your Trail Search</h4>
          <button type="button" class="close" style="color: white" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         	<div id="checkboxes" class="collapse">
         	<ul style="list-style: none">
         		<li><input type="checkbox" id="matchFitness"> Search Based on Fitness Data:</li>
         		<li><input type="checkbox" id="easyAndChill"> Search for Easy & Chill Trails:</li>
         		<li><input type="checkbox" id="challengeMe"> Search for Challenging Trails:</li>
         	</ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        	<input type="button" class="btn btn-info" data-toggle="collapse" data-target="#checkboxes" id="switchMe" value="Off" onclick="changeButtonText()">
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="sortTrails()">Save</button>
        	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>


<table class="table table-bordered table-dark" id="trailsTable">

<thead>
      <tr>
        <th scope="col">Trail Name</th>
        <th scope="col" class="text-center">Length</th>
        <th scope="col" class="text-center">Location</th>
        <th scope="col" class="text-center">Maps Link</th>

        {{!-- hidden column --}}
        <th scope="col" class="d-none"> relDifficuilty </th>
      </tr>
</thead>

{{#each trails}}
	<tr>
		<td>{{trail_name}}</td>
		<td class="text-center">{{trail_length}}</td>
		<td class="text-center">{{latitude}}, {{longitude}}</td>
		<td class="text-center">
    <i class="fas fa-map-marked-alt fa-2x" onclick="openMapTab({{latitude}}, {{longitude}})" title="Click me for directions!">
			{{!-- <button type="button" class="btn" onclick="openMapTab({{latitude}}, {{longitude}})">Maps Link</button> --}}
		</i>
    {{!-- hidden column --}}
    <td class = "d-none">{{realitiveDifficulty}}</td>
	</tr>
{{/each}}

</table>
</div>