<div class="jumbotron">
  <form action="/repairs/reload" method="GET" class=field id="update-repair">
    <fieldset>
        <legend><h1>Edit The Repair</h1></legend>
        <div class="row">
            <div class = "col">
                <label for="state">Customer</label>
                <input readonly type="text" class = "form-control" value="{{update_repair.first_name}}" name="customer_name" id="customer_name">
            </div>
            <div class="col">
                <label for="date_completed">Date</label>
                <input class="form-control" type="date" value="{{update_repair.date_completed_form_friendly}}" id="date_completed" name="date_completed" required>
            </div>
            <div class = "col">
                <label for="zip_code">Notes</label>
                <textarea name="" class="form-control" id="notes" cols="30" rows="10" value="{{update_repair.notes}}" name="notes" id="notes">{{update_repair.notes}}</textarea>
            </div>
        </div>
        
        <div class = "row">
            <div class = "col">
                
            </div>
            <div class="col"></div>
            <div class="col"></div>            
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
              <button type="" class="btn btn-success" onclick="updateRepair({{update_repair.repair_ID}})">Update Repair</button>
            </div>
        </div>

        <div class = "row">
            
            <div class = "col"></div>
            
            <div clase = "col">
                <table class = "table table-striped table-bordered" name="items-table" id="items-table">
                    <thead>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity In Order</th>
                        
                    </thead>
                    {{#each update_repair.items}}
                    <tr class="item">
                        <td>{{name}}</td>
                        <td><input type="text" class="item_quantity" value="{{item_quantity}}"></td>
                        <td><input type="hidden" class="repair_details_ID" value="{{repair_details_ID}}"></td>
                    </tr>
                    {{/each}}
                </table>
            </div>

            <div class = "col"></div>
    
        </div>

    </fieldset>    
</form>
{{!-- <button type="" class="btn btn-success" onclick="updateRepair({{update_repair.repair_ID}})">Update Customer</button> --}}
</div>
